<div class="modal-content">
  <form id="addReview" name="addReview" role="form" ng-submit="onSubmit()" class="form-horizontal">
    <div class="modal-header">
      <!-- <button type="button" ng-click="modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button> -->
      <!-- <h4 id="myModalLabel" class="modal-title"> 当前文章 >> {{ articleData.articleTitle }}</h4> -->
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="Error" class="alert alert-danger">{{ Error }}</div>
      <div class="form-group">
        <!-- <label for="review" class="col-sm-2 control-label">评论</label> -->
        <div class="col-xs-12">
          <textarea id="review" name="commentBody" rows="5" ng-model="comment.commentBody" class="form-control" placeholder="写点什么吧。。。"></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="modal.cancel()" type="button" class="btn btn-default">取消</button>
      <button type="submit" class="btn btn-primary">提交评论</button>
    </div>
  </form>
</div>
