extends layout

block page
  - var menu = 'index'
block content 
  if (articles.length === 0)
    | 这个博主很懒，还没有发表任何文章。
    a(href="/login") 登陆
    | 发表文章。
  else
    each article, index in articles
      - var url = "/articles/" + article.slug;
      div 
        h2 
          a(href=url)= article.title
          