extends layout
block page
  - var menu = 'post'
block content
  
    h2 新建博客
    div= error
    div.col-md-8
      form(action="/post", method="POST", role="form")
        div.form-group
          label(for="title") 标题
          input#title.form-control(name="title", type="text")
        div.form-group
          label(for="slug") 描述
          input#slug.form-control(name="slug", type="text")
          span.help-block 
            span.text-primary * 此处填写的字符串将成为地址栏路径
        div.form-group
          label(for="text") 内容
          textarea#text.form-control(rows="5", name="text")
        p
          button.btn.btn-primary(type="submit") 保存